
@{
    ViewBag.Title = "Tpp";
}

<h2>All lists</h2>


<table class="table">
    <tr>
        <td>
            @Html.ActionLink("Материалы", "MaterialsList")
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Equipment", "EquipmentList")
        </td>
    </tr>
</table>